/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/


/*------------------------------ 990 ------------------------------*/
@media (max-width: 990px) {
	.sliders {
		&__inner {
			display: flex;
			flex-direction: column;
		}
	}
}
/*------------------------------ 700 ------------------------------*/

@media (max-width: 700px) {
	.calc {
		&__form {
			display: flex;
			flex-direction: column;
			&-input {
				margin-bottom: 10px;
			}
		}
		&__table-heading {
			padding: 5px;
		}
	}
}